<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap   = "http://phonegap.com/ns/1.0"
	id          = "com.ovnylinedev.amsprofesionales"
	version     = "1.4"
	versionCode = "5" >

	<!-- v1.2: Cambio a de Mobincube a Phonegap (cli-6.5.0) -->
	<!-- v1.3: Configuraciones y mejora de rendimiento -->

	<name>AMS Profesionales</name>
	<!-- <name>AMS Profesionales - Beta</name> -->

	<description>
		Aplicación para profesionales y empleados de Ávila Multiasistencia. Gestión de Visitas y Partes de Trabajo en Obras y Servicios.
	</description>

	<author href="http://www.ovnyline.com" email="info@ovnyline.com">
		Grupo Ovnyline Comunicación
	</author>

	<!-- Define the main entry-point to the application -->
	<content src="index.html" />

	<!-- Customize your app and platform with the preference element. -->
	<preference name="DisallowOverscroll" value="true" />

	<!-- Personalización -->
	<preference name="phonegap-version"           value="cli-6.5.0" />      <!-- all: current version of PhoneGap -->
	<preference name="orientation"                value="portrait" />       <!-- all: default means both landscape and portrait are enabled -->
	<preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
	<preference name="fullscreen"                 value="false" />           <!-- all: hides the status bar at the top of the screen -->
	<preference name="prerendered-icon"           value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
	<preference name="ios-statusbarstyle"         value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
	<preference name="detect-data-types"          value="true" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
	<preference name="exit-on-suspend"            value="false" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
	<preference name="auto-hide-splash-screen"    value="true" />           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
	<preference name="disable-cursor"             value="false" />          <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
	<preference name="android-minSdkVersion"      value="15" />             <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
	<preference name="android-installLocation"    value="auto" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
	<preference name="android-build-tool" 		 value="gradle" />

	<!-- Plugins -->
	<plugin name="cordova-plugin-battery-status"      source="npm" spec="~1.2.4" />
	<plugin name="cordova-plugin-camera"              source="npm" spec="~2.4.1" />
	<!-- <plugin name="cordova-plugin-media-capture"       source="npm" spec="~1.4.3" /> -->
	<plugin name="cordova-plugin-device"              source="npm" spec="~1.1.6" />
	<!-- <plugin name="cordova-plugin-dialogs"             source="npm" spec="~1.3.3" /> -->
	<!-- <plugin name="cordova-plugin-file"                source="npm" spec="~4.3.3" /> -->
	<!-- <plugin name="cordova-plugin-geolocation"         source="npm" spec="~2.4.3" /> -->
	<!-- <plugin name="cordova-plugin-globalization"       source="npm" spec="~1.0.7" /> -->
	<!-- <plugin name="cordova-plugin-inappbrowser"        source="npm" spec="~1.7.1" /> -->
	<!-- <plugin name="cordova-plugin-network-information" source="npm" spec="~1.3.3" /> -->
	<!-- <plugin name="cordova-plugin-vibration"           source="npm" spec="~2.1.5" /> -->
	<plugin name="cordova-plugin-whitelist" 		source="npm" spec="~1.3.3" />

	<!-- Iconos para cada plataforma -->
	<icon src="resources/icons/icon.png" />
	<!-- <icon src="resources/icons/beta.png" /> -->
	<splash src="resources/screens/splash.png" />

	<!-- Android -->
	<platform name="android">
		<icon	src="resources/icons/android/mipmap-ldpi/ic_launcher.png"		density="ldpi" />
		<icon	src="resources/icons/android/mipmap-mdpi/ic_launcher.png"		density="mdpi" />
		<icon	src="resources/icons/android/mipmap-hdpi/ic_launcher.png"		density="hdpi" />
		<icon	src="resources/icons/android/mipmap-xhdpi/ic_launcher.png"		density="xhdpi" />
		<icon	src="resources/icons/android/mipmap-xxhdpi/ic_launcher.png"		density="xxhdpi" />
		<icon	src="resources/icons/android/mipmap-xxxhdpi/ic_launcher.png"	density="xxxhdpi" />

		<splash src="resources/screens/drawable-land-hdpi-screen.png" density="land-hdpi"/>
		<splash src="resources/screens/drawable-land-ldpi-screen.png" density="land-ldpi"/>
		<splash src="resources/screens/drawable-land-mdpi-screen.png" density="land-mdpi"/>
		<splash src="resources/screens/drawable-land-xhdpi-screen.png" density="land-xhdpi"/>
		<splash src="resources/screens/drawable-land-xxhdpi-screen.png" density="land-xxhdpi"/>
		<splash src="resources/screens/drawable-land-xxxhdpi-screen.png" density="land-xxxhdpi"/>

		<splash src="resources/screens/drawable-port-hdpi-screen.png" density="port-hdpi"/>
		<splash src="resources/screens/drawable-port-ldpi-screen.png" density="port-ldpi"/>
		<splash src="resources/screens/drawable-port-mdpi-screen.png" density="port-mdpi"/>
		<splash src="resources/screens/drawable-port-xhdpi-screen.png" density="port-xhdpi"/>
		<splash src="resources/screens/drawable-port-xxhdpi-screen.png" density="port-xxhdpi"/>
		<splash src="resources/screens/drawable-port-xxxhdpi-screen.png" density="port-xxxhdpi"/>
	</platform>

	<!-- IOS -->
	<platform name="ios">
		<icon src="resources/icons/ios/Icon-App-20x20@1x.png" width="20" height="20" />
		<icon src="resources/icons/ios/Icon-App-20x20@2x.png" width="40" height="40" />
		<icon src="resources/icons/ios/Icon-App-20x20@3x.png" width="60" height="60" />
		<icon src="resources/icons/ios/Icon-App-29x29@1x.png" width="29" height="29" />
		<icon src="resources/icons/ios/Icon-App-29x29@2x.png" width="58" height="58" />
		<icon src="resources/icons/ios/Icon-App-29x29@3x.png" width="87" height="87" />
		<icon src="resources/icons/ios/Icon-App-40x40@1x.png" width="40" height="40" />
		<icon src="resources/icons/ios/Icon-App-40x40@2x.png" width="80" height="80" />
		<icon src="resources/icons/ios/Icon-App-40x40@3x.png" width="120" height="120" />
		<icon src="resources/icons/ios/Icon-App-57x57@1x.png" width="57" height="57" />
		<icon src="resources/icons/ios/Icon-App-57x57@2x.png" width="114" height="114" />
		<icon src="resources/icons/ios/Icon-App-60x60@1x.png" width="60" height="60" />
		<icon src="resources/icons/ios/Icon-App-60x60@2x.png" width="120" height="120" />
		<icon src="resources/icons/ios/Icon-App-60x60@3x.png" width="180" height="180" />
		<icon src="resources/icons/ios/Icon-App-72x72@1x.png" width="72" height="72" />
		<icon src="resources/icons/ios/Icon-App-72x72@2x.png" width="144" height="144" />
		<icon src="resources/icons/ios/Icon-App-76x76@1x.png" width="76" height="76" />
		<icon src="resources/icons/ios/Icon-App-76x76@2x.png" width="152" height="152" />
		<icon src="resources/icons/ios/Icon-App-76x76@3x.png" width="228" height="228" />
		<icon src="resources/icons/ios/Icon-App-83.5x83.5@2x.png" width="167" height="167" />

		<icon src="resources/icons/ios/Icon-Small-50x50@1x.png" width="50" height="50" />
		<icon src="resources/icons/ios/Icon-Small-50x50@2x.png" width="100" height="100" />

		<icon src="resources/icons/ios/Itunes-Artwork-512x512@2x.png" width="1024" height="1024" />

		<splash src="resources/screens/ios/Default~iphone.png" width="320" height="480"/>
		<splash src="resources/screens/ios/Default@2x~iphone.png" width="640" height="960"/>
		<splash src="resources/screens/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
		<splash src="resources/screens/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
		<splash src="resources/screens/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
		<splash src="resources/screens/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
		<splash src="resources/screens/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
		<splash src="resources/screens/ios/Default-667h.png" width="750" height="1334"/>
		<splash src="resources/screens/ios/Default-736h.png" width="1242" height="2208"/>
		<splash src="resources/screens/ios/Default-Landscape-736h.png" width="2208" height="1242"/>
	</platform>

	<!-- Winphone -->


	<!--
		Define access to external domains.
		<access />            - a blank access tag denies access to all external resources.
		<access origin="*" /> - a wildcard access tag allows access to all external resource.
		Otherwise, you can specify specific domains:
	-->
	<access origin="*" />
	<!--
		<access origin="http://phonegap.com" />                    - allow any secure requests to http://phonegap.com/
		<access origin="http://phonegap.com" subdomains="true" />  - same as above, but including subdomains, such as http://build.phonegap.com/
		<access origin="http://phonegap.com" browserOnly="true" /> - only allows http://phonegap.com to be opened by the child browser.
	-->

	<!-- Added the following intents to support the removal of whitelist code from base cordova to a plugin -->
	<!-- Whitelist configuration. Refer to https://cordova.apache.org/docs/en/edge/guide_appdev_whitelist_index.md.html -->

	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<!-- <allow-intent href="*" /> -->
	<!-- <allow-navigation href="*" /> -->
	<allow-intent href="tel:*" />
	<allow-intent href="sms:*" />
	<allow-intent href="mailto:*" />
	<allow-intent href="geo:*" />
	<platform name="android">
		<allow-intent href="market:*" />
	</platform>
	<platform name="ios">
		<allow-intent href="itms:*" />
		<allow-intent href="itms-apps:*" />
	</platform>

	<edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
		<string>need camera access to take pictures / necesita acceso a la cámara para tomar fotos</string>
	</edit-config>
	<edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge">
		<string>need photo library access to get pictures from there / necesita acceso a la galería para tomar fotos</string>
	</edit-config>
	<edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
		<string>need location access to find things nearby / necesita acceso a la ubicación para encontrar cosas cercanas</string>
	</edit-config>
	<edit-config target="NSPhotoLibraryAddUsageDescription" file="*-Info.plist" mode="merge">
	    <string>need photo library access to save pictures there / necesita acceso a la galería para guardar fotos</string>
	</edit-config>

</widget>
